---
/**
 * Header
 * ヘッダーを表示するコンポーネント
 */
---

<header class="absolute top-0 z-50 w-full">
  <div class="hidden justify-end px-8 py-4 md:flex">
    <nav aria-label="メインナビゲーション">
      <ul class="flex gap-6 text-lg font-medium text-shadow-[0_0_1px_#000]">
        <li><a href="#AboutMe" class="js-link-anchor text-white hover:text-white/75">私について</a></li>
        <li><a href="#Career" class="js-link-anchor text-white hover:text-white/75">経歴</a></li>
        <li><a href="#Skills" class="js-link-anchor text-white hover:text-white/75">スキル</a></li>
        <li><a href="#Works" class="js-link-anchor text-white hover:text-white/75">制作実績</a></li>
      </ul>
    </nav>
  </div>
</header>
